<h3>Add New Content</h3>
<div class="newContent">
    <input type="text" [(ngModel)]="newContent.id" placeholder="ID">
    <input type="text" [(ngModel)]="newContent.title" placeholder="Title"><br>
    <input type="text" [(ngModel)]="newContent.description" placeholder="Description">
    <input type="text" [(ngModel)]="newContent.creator" placeholder="Creator"><br>
    <input type="text" [(ngModel)]="newContent.imgURL" placeholder="ImgURL">
    <input type="text" [(ngModel)]="newContent.type" placeholder="Type"><br>
    <input type="text" [(ngModel)]="newContent.tags" placeholder="Tags"><br>
    <button (click)="onSubmit()">Submit</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>

