<div>
    <input type="text" [(ngModel)]="newContent.id" placeholder="ID">
    <input type="text" [(ngModel)]="newContent.title" placeholder="Title">
    <input type="text" [(ngModel)]="newContent.description" placeholder="Description">
    <input type="text" [(ngModel)]="newContent.creator" placeholder="Creator">
    <input type="text" [(ngModel)]="newContent.imgURL" placeholder="ImgURL">
    <input type="text" [(ngModel)]="newContent.type" placeholder="Type">
    <input type="text" [(ngModel)]="newContent.tags" placeholder="Tags">
    <button (click)="onSubmit()">Submit</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>

