<!-- <div *ngFor="let content of contentList; let first = first; let i = index" class="content-card" [style.border]="first ? '2px solid black' : '1px solid black'">
    <h1>{{ content.title }}</h1>
    <img [src]="content.imgURL" (click)="displayContent(content)">
    <p>{{ content.description }}</p>
    <p>Creator: {{ content.creator }}</p>
    <p *ngIf="content.type">Type: {{ content.type }}</p>
    <p *ngIf="content.tags?.length">Tags: {{ content.tags }}</p>
</div> -->


<h1>Books Collection </h1>
<div class="filter">
<input type="text" name="title" [(ngModel)]="title" placeholder="Enter title">
<button (click)="checkTitle()">Search</button>
</div>
<p class="message" [style.color]="isFound ? 'green' : 'red'">{{ message }}</p>
<app-create-content (contentAdded)="onContentAdded($event)"></app-create-content>
<div class="container">
  <div [style.backgroundColor]="getBackgroundColor('Fiction')">
    <app-content-card *ngFor="let con of contentList | contentFilter: 'Fiction'" [content]="con"></app-content-card>
  </div>

  <div [style.backgroundColor]="getBackgroundColor('Fantasy')" >
    <app-content-card *ngFor="let con of contentList | contentFilter: 'Fantasy'" [content]="con"></app-content-card>
  </div>

  <div [style.backgroundColor]="getBackgroundColor('Thriller')" >
    <app-content-card *ngFor="let con of contentList | contentFilter: 'Thriller'" [content]="con"></app-content-card>
  </div>

  <div [style.backgroundColor]="getBackgroundColor('')">
    <app-content-card *ngFor="let con of contentList | contentFilter: ''" [content]="con"></app-content-card>
  </div>

</div>



  

  